
<body ng-controller="MapsController">
  <ng-include src="'switch/views/navbar.html'"></ng-include>
    <div>
      <div>
        <input type="text" class="Search" placeholder="search">
        <ul id="mapButtonList">
          <li><button id="mapLocationButton" class="button">Location</button></li>
          <li><button id="mapKeywordButton" class="button">Keyword</button></li>
        </ul>

        <div id="mapFilter"><span id="filterTitle">Filter:</span> <button class="button">Friends</button><button class="button">All</button></div>
      </div>
    </div>

    <div class="hereIsMap">
      <ui-gmap-google-map center="map.center" zoom="map.zoom" options="options">
          <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
      </ui-gmap-google-map>
    </div>

  <button ng-click="buttonFunction()">Button</button>


</body>
