<body ng-controller="MapsController">
  <div>
    <div>
      <ul>
        <li><button>location</button></li>
        <li><button>keyword</button></li>
      </ul>
      <input type="text" class="Search" placeholder="search">
      <div>Filter: <button>Friends</button><<button>All</button></div>
    </div>
  </div>

  <div class="hereIsMap">
    <ui-gmap-google-map center="map.center" zoom="map.zoom" options="options">
        <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
    </ui-gmap-google-map>
  </div>


</body>
